doctype html
html(lang="en")
  head
    title Fetch a Specimen
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet")
    link(rel="icon" href="assets/favicon.png")
    link(rel="stylesheet" href="main.scss")
    script(src="app.js" defer)
  body
    #app
    .fetch
      .fetch-btn Next
